<!-- https://firebase.google.com/docs/cli#install-cli-windows -->
<!-- Step 1 : Install Firebase tools by using  npm: Run npm install -g firebase-toolsfirebase login:ci -->
<!-- firebase login:ci -->
<!-- firebase init hosting -->
<!-- ng build --prod -->
<!-- firebase deploy -->
<h2>Gurubyo Namaha!! By Mohan</h2>
<h2>list of users</h2>
<p> vasu broooo</p>

<input type="text" [(ngModel)]="user.userName" />
<input type="password" [(ngModel)]="user.password"/>
<button (click)="login()" >Login</button>